{% extends 'base/main.html' %}
{% block content %}

<br><br><br><br>
<!-- ***** Banner Start ***** -->
<div class="main-banner"
  style="background-image: url(/static/assets/images/userbg.jfif); background-size: cover; background-position: center; height: 60vh;">
  <div class="row">
    <div class="col-lg-10">
      <div class="">
        <h3 class="single-line-title" style="color: rgb(208, 227, 4);">Hate Speech Recognition Through
          <span style="color: blue;">Machine Learning</span>
        </h3>
        <div class="main-button">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Banner End ***** -->

{% endblock %}
