{% extends 'users/userbase.html' %}
{% block content %}
{% load static %}


                <!-- ***** Banner Start ***** -->
                <div class="main-banner" style="background-image: url(/static/assets/images/home.jpg); background-size: cover; background-position: center;">
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="header-text">
                                <!-- <h3> Hate Speech Recognition Through
                                    Machine Learning</h3> -->
                                <div class="main-button">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Banner End ***** -->
{% endblock %}
